.header {
}
.conteiner { 
}
.header-logo {
}
.header-nav {

}
.header-list { display: flex;
    
}
.header-list-item {margin: 30px;
    list-style: none;
}
.header-link {
}
.btn {
}
.header-btn {
}
.main {
}
.hero {
}
.container {
}
.hero-content {
}
.hero-titel {
}
.hero-descr {
}
.hero-btn {
}
.hero-secur {
}
.services {
}
.section-title {
}
.servises-title {
}
.section-descr {
}
.servises-descr {
}
.services-items { list-style: none;
}
.services-item {
}
.services-item-icon {
}
.services-item-title {
}
.services-item-desc {
}
.articles {
}
.article-title {
}
.articles-list { list-style: none;
}
.articles-item {
}
.blog-preview {
}
.img {
}
.blog-preview-image {
}
.blog-preview-text {
}
.blog-preview-time {
}
.blog-preview-title {
}
.blog-preview-descr {
}
.blog-pview-time {
}
.clients {
}
.clients-title {
}
.clients-list {
}
.clients-item { list-style: none;
}
.clients-item-descr {
}
.clients-user {
}
.clients-avatar {
}
.clients-text {
}
.clients-name {
}
.span {
}
.clients-post {
}
.contacts { 
}
.sectin-title {
}
.contacts-title {
}
.contacts-adres {
}
.contacts-list {
}
.contacts-item { list-style: none;
}
.contacts-item-caption {
}
.contaxt-item-text {
}
.contacts-item-link {
}
.contacta-item-link {
}
.footer {
}
.footer-left {
}
.footer-logo {
}
.footer-copy {
}
.footer-right {
}
.footer-nav {
}
.footer-list {
}
.footer-item { list-style: none;
}
.footer-link {
}
.social {
}
.social-item {
}
.social-link {
}
.social-link-tw {
}
.social-link-linkedin {
}
.social-link-mail {
}