html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
};

/* glob */
.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    min-width: 1200px;
    font-family: "font", sans-serif;
}

/* glob */
.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    margin: 0;
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
}

.flex {
    display: flex;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.header {
    padding: 36px 0;
}

.header-container {
    align-items: center;
}

.header-logo {
    margin-right: auto;
}
.header-nav {
    margin-right: 52px;

}
.header-list {
}
.header-list-item:not(:last-child) {
    margin-right: 52px;
}
.header-link {
}
.btn {
}
.header-btn {
}
.main {
}
.hero {
}

.hero-content {
}
.hero-titel {
}
.hero-descr {
}
.hero-btn {
}
.hero-secur {
}
.services {
}

.section-title {
    margin: 0 auto;
    margin-bottom: 40px;
}
.servises-title {
}
.section-descr {
    margin: 0;
    margin-bottom: 50px;
}

.section-offset{
    padding-top: 87px;
    padding-bottom: 160px;
}
.servises-descr {
    margin: 0;
    margin-bottom: 50px;
}
.services-items { 
}
.services-item {
}
.services-item-icon {
}
.services-item-title {
}
.services-item-desc {
}
.articles {
}
.article-title {
}
.articles-list {
}
.articles-item {
}
.blog-preview {
}
.img {
}
.blog-preview-image {
}
.blog-preview-text {
}
.blog-preview-time {
}
.blog-preview-title {
}
.blog-preview-descr {
}
.blog-pview-time {
}
.clients {
}
.clients-title {
}
.clients-list {
}
.clients-item { 
}
.clients-item-descr {
}
.clients-user {
}
.clients-avatar {
}
.clients-text {
}
.clients-name {
}
.span {
}
.clients-post {
}
.contacts { 
}
.sectin-title {
}
.contacts-title {
}
.contacts-adres {
}
.contacts-list {
}
.contacts-item { 
}
.contacts-item-caption {
}
.contaxt-item-text {
}
.contacts-item-link {
}
.contacta-item-link {
}
.footer {
}
.footer-left {
}
.footer-logo {
}
.footer-copy {
}
.footer-right {
}
.footer-nav {
}
.footer-list {
}
.footer-item {
}
.footer-link {
}
.social {
}
.social-item {
}
.social-link {
}
.social-link-tw {
}
.social-link-linkedin {
}
.social-link-mail {
}